<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE folder SYSTEM "folder.dtd">
<folder title="Get Started">
    <toc>
        <entries>
            <entry name="index" title="Create an App from the Archetype"
                    displayName="Create an App from the Archetype"/>
            <entry name="from-scratch/" displayName="Create an App from Scratch"/>
            <entry name="Bootstrap-Code" title="Hook in the Bootstrap Process" displayName="Hook in the Bootstrap Process"/>
        </entries>
    </toc>
</folder>
