<?xml version="1.0" encoding="UTF-8"?>
<folder title="Presenters Slots"
        href="index"
        description="Presenters Slots">
    <toc>
        <entries>
            <entry name="index" title="Presenters Slots"
                   displayName="Presenters Slots"></entry>
        </entries>
    </toc>
</folder>
