<?xml version="1.0" encoding="UTF-8"?>
<folder href="index"
        displayName="Getting Started"
        title="GQuery"
        description="GQuery"
        style="gquery">
    <toc>
        <entries>
            <entry name="index" title="Overview" displayName="Overview"></entry>
            <entry name="ajax" title="Ajax" displayName="Ajax"></entry>
            <entry name="download" title="Download" displayName="Download"></entry>
            <entry name="contributing" title="How to contribute" displayName="How to contribute"></entry>
            <entry name="creating-apps" title="Creating applications" displayName="Creating applications"></entry>
            <entry name="css-guide" title="CSS guide" displayName="CSS Guide"></entry>
            <entry name="data-binding" title="Data binding" displayName="Data binding"></entry>
        </entries>
    </toc>
</folder>
