<?xml version="1.0" encoding="UTF-8"?>
<folder title="GWTP"
        href="index"
        description="GWTP">
    <toc>
        <entries>
            <entry name="index" title="Action Validators" displayName="Action Validators"></entry>
            <entry name="Client-Action-Handlers"
                    title="Client Action Handlers" displayName="Client Action Handlers"></entry>
            <entry name="RPC-Dispatch" title="RPC-Dispatch" displayName="RPC-Dispatch"></entry>
            <entry name="CSRF-Protection" title="CSRF Protection" displayName="CSRF Protection"></entry>
            <entry name="Exception-Handler" title="Exception Handler" displayName="Exception Handler"></entry>
            <entry name="Rest-Dispatch" title="Rest Dispatch" displayName="Rest Dispatch"></entry>
        </entries>
    </toc>
</folder>
