<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE folder SYSTEM "folder.dtd">
<folder title="Communication" displayName="Communication">
    <toc>
        <entries>
            <entry name="index" title="Rest Dispatch" displayName="Rest Dispatch"/>
            <entry name="RPC-Dispatch" title="RPC-Dispatch" displayName="RPC-Dispatch"/>
            <entry name="action-validators" title="Action Validators" displayName="Action Validators"/>
            <entry name="Client-Action-Handlers" title="Client Action Handlers" displayName="Client Action Handlers"/>
            <entry name="CSRF-Protection" title="CSRF Protection" displayName="CSRF Protection"/>
        </entries>
    </toc>
</folder>
