<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE folder SYSTEM "folder.dtd">
<folder title="GWT-Chosen"
        style="gwtchosen">
    <toc>
        <entries>
            <entry name="" displayName="Overview"/>
            <entry name="#setup" displayName="How to install"/>
            <entry name="#what-is-gwtchosen" displayName="What is GWT-Chosen"/>
            <entry name="#working-with-widgets" displayName="Working with Widgets and UiBinder"/>
            <entry name="#optgroup-support" displayName="Optional Group Support"/>
            <entry name="#selected-disabled-support" displayName="Selected and Disabled Support"/>
            <entry name="#advanced-clb-options" displayName="Advanced Chosen ListBox Options"/>
            <entry name="#chosen-options" displayName="Chosen Options"/>
            <entry name="#events" displayName="Events"/>
            <entry name="#updating-components" displayName="Updating the components dynamically"/>
            <entry name="#custom-filtering" displayName="Custom Filtering"/>
            <entry name="#browsers-support" displayName="Browsers Support"/>
            <entry name="widgetsample/" displayName="Widget Sample"/>
        </entries>
    </toc>
</folder>
