<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE folder SYSTEM "folder.dtd">
<folder title="Events" displayName="Events">
    <toc>
        <entries>
            <entry name="index" displayName="Events"
                    description="Writing events based on the GWT way."/>
        </entries>
    </toc>
</folder>
