<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE folder SYSTEM "folder.dtd">
<folder title="Core (MVP)">
    <toc>
        <entries>
            <entry name="index" displayName="Overview"/>
            <entry name="presenters/" displayName="Presenters"/>
            <entry name="navigation/" displayName="Navigation"/>
            <entry name="events/" displayName="Events"/>
        </entries>
    </toc>
</folder>
