<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE folder SYSTEM "folder.dtd">
<folder href="index"
        title="Create an App from Scratch"
        style="gwtp">
    <toc>
        <entries>
            <entry name="fromscratch/index" displayName="Create the Structure"/>
            <entry name="fromscratch/Import-Dependencies" displayName="Import the Dependencies"/>
            <entry name="fromscratch/Create-Files" displayName="Create the Files"/>
        </entries>
    </toc>
</folder>
