#* @vtlvariable name="node" type="com.google.gwt.site.markdown.fs.MDNode" *#
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta property="og:type" content="website">

#if (${node.description})
    <meta property="description" content="${node.description}"/>
    <meta property="og:description" content="${node.description}">
#end
#if (${node.title})
    
    <meta property="og:title" content="${node.title}">
    <title>${node.title}</title>
#end
#if (${node.image})
    
    <meta property="og:image" content="${node.image}">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="315">
#end

    <link rel="stylesheet" href="assets/build/css/style.min.css">
    <link rel="stylesheet" href="assets/build/fonts/icons/icons.css">
    <link rel="stylesheet" href="assets/build/fonts/geometria/geometria.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">

    <script type="text/javascript" src="/gwtproject/gwtproject.nocache.js"></script>

    ${style}
</head>

<body>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<nav role="navigation" id="nav" class="closed">
    <div class="wrapper">
        <ul>
            <li class="logo">
                <a href="/">
                    <i class="icon_signCode"></i>
                    ARCBEES
                    <span>Developers platform</span>
                </a>
            </li>
            <li><a href="gwtp/" class="icon_gwtp">GWTP</a></li>
            <li><a href="jukito/" class="icon_jukito">Jukito</a></li>
            <li><a href="gquery/" class="icon_gquery">GQuery</a></li>
            <li><a href="http://arcbees.github.io/gwtchosen/" target="_blank" class="icon_chosen">GWT-Chosen</a></li>
            <li><a href="gsss/mixins/" class="icon_gsss">GSSS</a></li>
            <li><a href="ua/">Universal Analytics</a></li>
            <li><a href="gaestudio/" class="icon_gae">GAE Studio</a></li>
            <li><a href="http://www.arcbees.com/" target="_blank">Arcbees</a></li>
            <li><a href="http://www.arcbees.com/#!/contact" target="_blank">Contact</a></li>
            <li><a href="http://www.arcbees.com/#!/support" target="_blank" class="menuSupport">Support</a></li>
        </ul>
        <ul class="socialmedias">
            <li>
                <a href="https://www.facebook.com/arcbees" class="icon_fbSquare" target="_blank">
                    <span class="hidden">Facebook</span>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/ArcBees" class="icon_Twitter" target="_blank">
                    <span class="hidden">Twitter</span>
                </a>
            </li>
            <li>
                <a href="https://plus.google.com/+Arcbees/posts" class="icon_GPlus" target="_blank">
                    <span class="hidden">Google</span>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/company/arcbees" class="icon_Lkd" target="_blank">
                    <span class="hidden">LinkedIn</span>
                </a>
            </li>
            <li>
                <a href="https://github.com/ArcBees" class="icon_GitHub" target="_blank">
                    <span class="hidden">GitHub</span>
                </a>
            </li>
            <li>
                <a href="https://arcbees.wordpress.com/" class="icon_Wordpress" target="_blank">
                    <span class="hidden">Wordpress</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="menuToggle">
    <a href="#">
        <span></span>
        <span></span>
        <span></span>
    </a>
</div>

<div id="holder" style="display:none" class="$!{node.style}">
    <aside id="submenu">
        <div class="logo">
        </div>
        <nav>
            ${toc}
        </nav>
    </aside>

    <a id="logo-mobile" href="#"></a>

    <div class="menu-button">Menu</div>

    <nav id="nav-mobile" class="flexnav">
    </nav>

    <div class="iconDevTop">
        <i class="icon_signCode"></i>
    </div>

    <div id="content" role="main">
        <div class="container">
#if (${editLink})
        <span id="editLink" title="Edit this page on GitHub">
            ${editLink}
        </span>
#end
            ${content}
        </div>
        <footer class="footer">
            <div class="wrapper">
                <div class="backTop">
                    <a href="#" id="backToTop"><i class="icon_ArrowDown"></i></a>
                </div>
                <p>
                    <i class="icon_arcbees">
                        <span class="hidden">Arcbees</span>
                    </i>
                    Architects of simplicity
                </p>
            </div>
        </footer>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>

<script src="/assets/build/js/vendor/jquery.flexnav.js"></script>
<script src="/assets/build/js/global.min.js"></script>

</body>
</html>
