#* @vtlvariable name="node" type="com.google.gwt.site.markdown.fs.MDNode" *#
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta property="og:type" content="website">

    #if (${node.description})
        <meta property="description" content="${node.description}"/>
        <meta property="og:description" content="${node.description}">
    #end
    #if (${node.title})
        <meta property="og:title" content="${node.title}">
        <title>${node.title}</title>
    #end
    #if (${node.image})
        <meta property="og:image" content="${node.image}">
        <meta property="og:image:width" content="120">
        <meta property="og:image:height" content="120">
    #end

    <link rel="stylesheet" href="assets/build/css/style.min.css">
    <link rel="stylesheet" href="assets/build/fonts/icons/icons.css">
    <link rel="stylesheet" href="assets/build/fonts/geometria/geometria.css">
        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">

    <script type="text/javascript" src="/gwtproject/gwtproject.nocache.js"></script>
</head>

<body>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<nav role="navigation" id="nav" class="closed">
    <div class="wrapper">
        <ul>
            <li class="logo">
                <a href="/">
                    <i class="icon_signCode"></i>
                    ARCBEES
                    <span>Developers platform</span>
                </a>
            </li>
            <li><a href="gaestudio/"/><i class="icon_gae"></i>GAE Studio</a></li>
##            <li><a href="gwtp/"><i class="icon_gwtp"></i>gwtp</a></li>
            <li><a href="jukito/"><i class="icon_jukito"></i>Jukito</a></li>
##            <li><a href="chosen/"><i class="icon_chosen"></i>gwt chosen</a></li>
##            <li><a href="gquery/"><i class="icon_gquery"></i>gquery</a></li>
            <li><a href="gsss/mixins/"><i class="icon_gsss"></i>GSSS</a></li>
        </ul>
    </div>
</nav>

<div id="holder" class="$!{node.style}">
    <aside id="submenu">
        <div class="logo">

        </div>
        <nav>
            ${toc}
        </nav>
    </aside>

    <a id="logo-mobile" href="#"></a>

    <div class="menu-button">Menu</div>

    <nav id="nav-mobile" class="flexnav">
        ${toc}
    </nav>

    <div id="content" role="main">
        <div class="container">

            ${content}

        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>

<script src="/assets/build/js/vendor/jquery.flexnav.js"></script>
<script src="/assets/build/js/global.min.js"></script>

</body>
</html>
