<?xml version="1.0" encoding="UTF-8"?>
<folder title="GWTP"
        href="index"
        description="GWTP">
    <toc>
        <entries>
            <entry name="index" title="Bootstrapping or Application Initialization"
                    displayName="Bootstrapping or Application Initialization"></entry>
        </entries>
    </toc>
</folder>
