<?xml version="1.0" encoding="UTF-8"?>
<folder title="GWTP"
        href="index"
        description="GWTP">
    <toc>
        <entries>
            <entry name="index" title="Release Notes" displayName="Release Notes"></entry>
            <entry name="Road-Map" title="Road Map" displayName="Road Map"></entry>
        </entries>
    </toc>
</folder>
