<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE folder SYSTEM "folder.dtd">
<folder href="index"
        title="GWTP (v2)"
        style="gwtp">
    <toc>
        <entries>
            <entry name="index" displayName="Overview"/>
            <entry name="tutorial/" displayName="Beginner's Tutorial"/>
            <entry name="get-started/" displayName="Get Started"/>
            <entry name="core/" displayName="Core (MVP)"/>
            <entry name="advanced/" displayName="Advanced Features"/>
            <entry name="resources/" displayName="Resources"/>
            <entry name="License" displayName="License"/>
        </entries>
    </toc>
</folder>
