<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE folder SYSTEM "folder.dtd">
<folder href="index"
        title="GWTP (v2)"
        style="gwtp">
    <toc>
        <entries>
            <entry name="index" title="Overview" displayName="Overview"/>
            <entry name="advancedfeatures/" displayName="Advanced Features"/>
            <entry name="resources/" displayName="Resources"/>
        </entries>
    </toc>
</folder>
