<?xml version="1.0" encoding="UTF-8"?>
<folder href="index"
        displayName="Getting Started"
        title="GAE Studio"
        description="Helps you optimize applications hosted on Google App Engine. Real-time analysis of datastore requests, allows datastore exploration, modification, deletion, import and export."
        logo="assets/build/img/facebook-gae.png"
        style="gaestudio">
        <toc>
                <entries>
                        <entry name="index" title="Overview" displayName="Overview"
                                description="Helps you optimize applications hosted on Google App Engine. Real-time analysis of datastore requests, allows datastore exploration, modification, deletion, import and export."></entry>
                        <entry name="contributing/" displayName="Contributing"
                                description="How to help make this project better."></entry>
                </entries>
        </toc>
</folder>
